<section class="d-flex align-items-center" id="page-head">
  <div class="container">
    <div class="row">
      <div
        class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1"
        data-aos="fade-up"
        data-aos-delay="200"
      >
        <h1>Kenniscentrum<span style="color: #f2503d">.</span></h1>
      </div>
    </div>
  </div>
</section>


<main id="main">
  <!-- ======= About Us Section ======= -->
  <section class="about" id="about">
    <div class="container" data-aos="fade-up">
      <div class="row content">
        <div class="py-3 service-1">
          <div class="top-icons-hosting">
            <div class="container">
              <!-- Row  -->
              <div class="row">
                <!-- Column -->
                <div class="col-md-4 wrap-service1-box">
                  <div class="card border-0 card-shadow mb-4">
                    <a [routerLink]="['/kenniscentrum', 'email-beheren']" class="text-decoration-none">
                      <div class="card-body text-center">
                        <div class="my-3"><i class="fa-solid fa-desktop"></i></div>
                        <h6 class="font-weight-medium">Email beheren</h6>
                      </div>
                    </a>
                  </div>
                </div>

                <div class="col-md-4 wrap-service1-box">
                  <div class="card border-0 card-shadow mb-4">
                    <div class="card-body text-center">
                      <div class="my-3"><i class="fa-solid fa-envelope"></i></div>
                      <h6 class="font-weight-medium">Domeinnaam</h6>
                    </div>
                  </div>
                </div>

                <div class="col-md-4 wrap-service1-box">
                  <div class="card border-0 card-shadow mb-4">
                    <div class="card-body text-center">
                      <div class="my-3"><i class="fa-solid fa-window-restore"></i></div>
                      <h6 class="font-weight-medium">Hostingpakket</h6>
                    </div>
                  </div>
                </div>

                <div class="col-md-4 wrap-service1-box">
                  <div class="card border-0 card-shadow mb-4">
                    <div class="card-body text-center">
                      <div class="my-3"><i class="fa-solid fa-user-secret"></i></div>
                      <h6 class="font-weight-medium">Website bouwen</h6>
                    </div>
                  </div>
                </div>

                <div class="col-md-4 wrap-service1-box">
                  <div class="card border-0 card-shadow mb-4">
                    <div class="card-body text-center">
                      <div class="my-3"><i class="fa-solid fa-screwdriver-wrench"></i></div>
                      <h6 class="font-weight-medium">SEO</h6>
                    </div>
                  </div>
                </div>

                <div class="col-md-4 wrap-service1-box">
                  <div class="card border-0 card-shadow mb-4">
                    <div class="card-body text-center">
                      <div class="my-3"><i class="fa-solid fa-shield-halved"></i></div>
                      <h6 class="font-weight-medium">Snelheid</h6>
                    </div>
                  </div>
                </div>


              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section><!-- End About Us Section -->

</main><!-- End #main -->
