<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 footer-contact">
          <h3>Loyasoft</h3>
          <p>
            <br/><br/>
            <strong>Telefoon:</strong> +31 6 37407635<br/>
            <strong>Email:</strong> info@loyasoft.nl<br/>
          </p>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Menu</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a aria-label="Bezoek homepagina" href="#">Home</a></li>
            <li>
              <i class="bx bx-chevron-right"></i> <a [routerLink]="['/websites']"
                                                     aria-label="Bezoek websites">Websites</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i> <a [routerLink]="['/applicaties']" aria-label="Bezoek applicaties">Applicaties</a>
            </li>
            <li><i class="bx bx-chevron-right"></i> <a [routerLink]="['/hosting']"
                                                       aria-label="Bezoek hosting">Hosting</a></li>
            <li>
              <i class="bx bx-chevron-right"></i> <a [routerLink]="['/projects']"
                                                     aria-label="Bezoek projecten">Projects</a>
            </li>
            <li><i class="bx bx-chevron-right"></i> <a [routerLink]="['/contact']"
                                                       aria-label="Bezoek contact">Contact</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Informatie</h4>
          <ul>
            <li>
              <i class="bx bx-chevron-right"></i> <a [routerLink]="['/websites']"
                                                     aria-label="Bezoek websites">Websites</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i> <a [routerLink]="['/applicaties']" aria-label="Bezoek applicaties">Applicaties</a>
            </li>
            <li><i class="bx bx-chevron-right"></i> <a [routerLink]="['/hosting']"
                                                       aria-label="Bezoek hosting">Hosting</a></li>
            <li>
              <i class="bx bx-chevron-right"></i> <a [routerLink]="['/kenniscentrum', 'email-beheren']"
                                                     aria-label="Bezoek kenniscentrum | Emails beheren">Email
              beheren</a>
            </li>
            <li><i class="bx bx-chevron-right"></i> <a [routerLink]="['/kenniscentrum']"
                                                       aria-label="Bezoek kenniscentrum">Kenniscentrum</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Sociaal Netwerk</h4>
          <p>Blijf op de hoogte van de laatste ontwikkelingen via</p>
          <div class="social-links mt-3">
            <a aria-label="Bezoek facebook" class="facebook" href="https://www.facebook.com/loyasoft/"
            ><i class="bx bxl-facebook"></i
            ></a>
            <a aria-label="Bezoek instagram" class="instagram" href="https://www.instagram.com/loyasoft/"
            ><i class="bx bxl-instagram"></i
            ></a>
            <a aria-label="Bezoek linkedin" class="linkedin" href="https://www.linkedin.com/company/loyasoft"
            ><i class="bx bxl-linkedin"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container footer-bottom clearfix">
    <div class="copyright">
      &copy; Copyright <strong><span style="color: #f2503d">Loyasoft</span></strong> 2023. All Rights
      Reserved
    </div>
    <div class="credits">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you purchased the pro version. -->
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
      <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/ -->
      Designed by
      <a aria-label="Bezoek BootstrapMade" href="https://bootstrapmade.com/" target="_blank">BootstrapMade</a>
    </div>
  </div>
</footer>
<!-- End Footer -->
