<section class="d-flex align-items-center" id="page-head">
  <div class="container">
    <div class="row">
      <div
        class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1"
        data-aos="fade-up"
        data-aos-delay="200"
      >
        <h1 style="font-size: 4em">Whoops<span style="color: #f2503d">!</span></h1>
        <h2>Je hebt een 404 pagina gevonden die niet bestaat</h2>


      </div>

      <div
        class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1 features"
        data-aos="fade-up"
        data-aos-delay="200"
      >

      </div>
    </div>
  </div>
</section>


<main id="main">
  <section class="about" id="about">
    <div class="container" data-aos="fade-up">
      <div class="row">
        <div class="py-3 service-1">
          <div class="top-icons-hosting">
            <div class="container">


              <!-- Row  -->
              <div class="row">
                <!-- Column -->
                <div class="col-12 wrap-service1-box">
                  <div class="card border-0 card-shadow mb-4">
                    <div class="card-body">
                      <div class="row">
                        <div
                          class="col-12 pt-4 pt-lg-0"
                          data-aos="fade-left"
                          data-aos-delay="100"
                        >
                          <div class="container" data-aos="fade-up">

                            <div class="content">
                              <h4>Graag helpen we je weer een eindje op weg met het volgende menu
                              </h4>
                            </div>

                            <section class="about" style="padding-top: 1em">
                              <div class="container" data-aos="fade-up">
                                <div class="row content">
                                  <div class="py-3 service-1">
                                    <div class="top-icons-hosting">
                                      <div class="container">
                                        <!-- Row  -->
                                        <div class="row">
                                          <!-- Column -->
                                          <div class="col-md-4 wrap-service1-box">
                                            <div class="card border-0 card-shadow mb-4">
                                              <a [routerLink]="['/']" aria-label="Bezoek homepagina"
                                                 class="text-decoration-none">
                                                <div class="card-body text-center">
                                                  <div class="my-3"><i class="fa-solid fa-desktop"></i></div>
                                                  <h6 class="font-weight-medium">Home</h6>
                                                </div>
                                              </a>
                                            </div>
                                          </div>

                                          <div class="col-md-4 wrap-service1-box">
                                            <div class="card border-0 card-shadow mb-4">
                                              <a [routerLink]="['/websites']" aria-label="Bezoek websites"
                                                 class="text-decoration-none">
                                                <div class="card-body text-center">
                                                  <div class="my-3"><i class="fa-solid fa-envelope"></i></div>
                                                  <h6 class="font-weight-medium">Websites</h6>
                                                </div>
                                              </a>
                                            </div>
                                          </div>

                                          <div class="col-md-4 wrap-service1-box">
                                            <div class="card border-0 card-shadow mb-4">
                                              <a [routerLink]="['/applicaties']" aria-label="Bezoek applicaties"
                                                 class="text-decoration-none">
                                                <div class="card-body text-center">
                                                  <div class="my-3"><i class="fa-solid fa-window-restore"></i></div>
                                                  <h6 class="font-weight-medium">Applicaties</h6>
                                                </div>
                                              </a>
                                            </div>
                                          </div>

                                          <div class="col-md-4 wrap-service1-box">
                                            <div class="card border-0 card-shadow mb-4">
                                              <a [routerLink]="['/hosting']" aria-label="Bezoek hosting"
                                                 class="text-decoration-none">
                                                <div class="card-body text-center">
                                                  <div class="my-3"><i class="fa-solid fa-user-secret"></i></div>
                                                  <h6 class="font-weight-medium">Hosting</h6>
                                                </div>
                                              </a>
                                            </div>
                                          </div>

                                          <div class="col-md-4 wrap-service1-box">
                                            <div class="card border-0 card-shadow mb-4">
                                              <a [routerLink]="['/projects']" aria-label="Bezoek projecten"
                                                 class="text-decoration-none">
                                                <div class="card-body text-center">
                                                  <div class="my-3"><i class="fa-solid fa-screwdriver-wrench"></i></div>
                                                  <h6 class="font-weight-medium">Projects</h6>
                                                </div>
                                              </a>
                                            </div>
                                          </div>

                                          <div class="col-md-4 wrap-service1-box">
                                            <div class="card border-0 card-shadow mb-4">
                                              <a [routerLink]="['/contact']" aria-label="Bezoek contact"
                                                 class="text-decoration-none">
                                                <div class="card-body text-center">
                                                  <div class="my-3"><i class="fa-solid fa-shield-halved"></i></div>
                                                  <h6 class="font-weight-medium">Contact</h6>
                                                </div>
                                              </a>
                                            </div>
                                          </div>


                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>

                              </div>
                            </section>


                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>


              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>
</main>

