<section class="d-flex align-items-center" id="page-head">
  <div class="container">
    <div class="row">
      <div
        class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1"
        data-aos="fade-up"
        data-aos-delay="200"
      >
        <h1>Hosting<span style="color: #f2503d">.</span></h1>
      </div>
    </div>
  </div>
</section>


<main id="main">

  <!-- ======= About Us Section ======= -->
  <section class="about" id="about">
    <div class="container" data-aos="fade-up">
      <div class="row content">
        <div class="py-3 service-1">
          <div class="top-icons-hosting">
            <div class="container">
              <!-- Row  -->
              <div class="row">
                <!-- Column -->
                <div class="col-md-4 wrap-service1-box">
                  <div class="card border-0 card-shadow mb-4">
                    <div class="card-body text-center">
                      <div class="my-3"><i class="fa-solid fa-desktop"></i></div>
                      <h6 class="font-weight-medium">Website</h6>
                    </div>
                  </div>
                </div>

                <div class="col-md-4 wrap-service1-box">
                  <div class="card border-0 card-shadow mb-4">
                    <div class="card-body text-center">
                      <div class="my-3"><i class="fa-solid fa-envelope"></i></div>
                      <h6 class="font-weight-medium">Email</h6>
                    </div>
                  </div>
                </div>

                <div class="col-md-4 wrap-service1-box">
                  <div class="card border-0 card-shadow mb-4">
                    <div class="card-body text-center">
                      <div class="my-3"><i class="fa-solid fa-window-restore"></i></div>
                      <h6 class="font-weight-medium">Plesk Beheer</h6>
                    </div>
                  </div>
                </div>

                <div class="col-md-4 wrap-service1-box">
                  <div class="card border-0 card-shadow mb-4">
                    <div class="card-body text-center">
                      <div class="my-3"><i class="fa-solid fa-user-secret"></i></div>
                      <h6 class="font-weight-medium">24/7 Monitoring</h6>
                    </div>
                  </div>
                </div>

                <div class="col-md-4 wrap-service1-box">
                  <div class="card border-0 card-shadow mb-4">
                    <div class="card-body text-center">
                      <div class="my-3"><i class="fa-solid fa-screwdriver-wrench"></i></div>
                      <h6 class="font-weight-medium">Wordpress Toolkit</h6>
                    </div>
                  </div>
                </div>

                <div class="col-md-4 wrap-service1-box">
                  <div class="card border-0 card-shadow mb-4">
                    <div class="card-body text-center">
                      <div class="my-3"><i class="fa-solid fa-shield-halved"></i></div>
                      <h6 class="font-weight-medium">Beveiliging</h6>
                    </div>
                  </div>
                </div>


              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section><!-- End About Us Section -->


  <section class="skills section-bg" id="skills">
    <div class="container" data-aos="fade-up">
      <div class="row">
        <div
          class="col-lg-5 d-flex align-items-center"
          data-aos="fade-right"
          data-aos-delay="100"
        >
          <img
            alt=""
            class="img-fluid"
            src="assets/images/template/why-us.webp"
          />
        </div>
        <div
          class="col-lg-7 pt-4 pt-lg-0 content"
          data-aos="fade-left"
          data-aos-delay="100"
        >
          <div class="container" data-aos="fade-up">
            <div class="section-title">
              <h2>Wat is hosting</h2>
            </div>
            <p class="content">
              Webhosting is van vitaal belang om uw website online beschikbaar te maken voor een wereldwijd publiek.
              Het is vergelijkbaar met het huren van digitale ruimte waar uw website en alle benodigde bestanden,
              zoals HTML-pagina's, afbeeldingen, video's en databases, kunnen worden opgeslagen.
            </p>

            <p class="content">
              Er zijn verschillende hostingopties beschikbaar, variërend van gedeelde hosting, waarbij meerdere
              websites dezelfde server delen, tot dedicated hosting, waarbij u een volledige server voor uzelf heeft.
              Uw keuze voor het type hosting hangt af van de behoeften van uw website en uw budget. Het selecteren van
              de juiste hostingprovider en het juiste hostingplan is van cruciaal belang om de prestaties en
              betrouwbaarheid van uw
              website te waarborgen.
            </p>


          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="" id="hosting-type">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Soorten hosting</h2>
      </div>

      <div class="row content">
        <div class="py-3 service-1">
          <div class="container">
            <!-- Row  -->
            <div class="row">
              <!-- Column -->
              <div class="col-md-4 wrap-service1-box">
                <div class="card border-0 card-shadow mb-4">
                  <div class="card-body">
                    <div class="my-3 text-center" style="font-size:3.5em; color: #005af5"><i
                      class="fa-brands fa-wordpress-simple"></i></div>
                    <h6 class="font-weight-medium text-center">WordPress hosting</h6>
                    <p class="mt-3 text-center">Speciaal geoptimaliseerd voor WordPress websites</p>
                    <hr>
                    <div class="type-hosting-icons pt-2">
                      <p>
                        <i class="fa-solid fa-check"></i> WordPress Toolkit
                      </p>
                      <p>
                        <i class="fa-solid fa-check"></i> Snel geïnstalleerd
                      </p>
                      <p>
                        <i class="fa-solid fa-check"></i> Inclusief E-Mail
                      </p>
                    </div>


                  </div>
                </div>
              </div>

              <div class="col-md-4 wrap-service1-box">
                <div class="card border-0 card-shadow mb-4">
                  <div class="card-body">
                    <div class="my-3 text-center" style="font-size:3.5em; color: #005af5"><i
                      class="fa-solid fa-server"></i></div>
                    <h6 class="font-weight-medium text-center">Webhosting</h6>
                    <p class="mt-3 text-center">Voor de hosting van alle soorten websites of applicaties </p>
                    <hr>
                    <div class="type-hosting-icons pt-2">
                      <p>
                        <i class="fa-solid fa-check"></i> Snel online
                      </p>
                      <p>
                        <i class="fa-solid fa-check"></i> Voor websites en applicaties
                      </p>
                      <p>
                        <i class="fa-solid fa-check"></i> Inclusief E-Mail
                      </p>
                    </div>


                  </div>
                </div>
              </div>

              <div class="col-md-4 wrap-service1-box">
                <div class="card border-0 card-shadow mb-4">
                  <div class="card-body">
                    <div class="my-3 text-center" style="font-size:3.5em; color: #005af5"><i
                      class="fa-solid fa-envelope"></i></div>
                    <h6 class="font-weight-medium text-center">Email hosting</h6>
                    <p class="mt-3 text-center">Verstuur en ontvang emails met je eigen domein</p>
                    <hr>
                    <div class="type-hosting-icons pt-2">
                      <p>
                        <i class="fa-solid fa-check"></i> Eigen domeinnaam
                      </p>
                      <p>
                        <i class="fa-solid fa-check"></i> Spamfilter en Antivirus
                      </p>
                      <p>
                        <i class="fa-solid fa-check"></i> Voor een professionele uitstraling
                      </p>
                    </div>


                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>

    </div>
  </section><!-- End About Us Section -->

  <section class="skills section-bg" id="plans">
    <div class="container" data-aos="fade-up">
      <div class="row">
        <div
          class="col-lg-10 m-auto pt-4 pt-lg-0 content"
          data-aos="fade-left"
          data-aos-delay="100"
        >
          <div class="container" data-aos="fade-up">
            <div class="section-title">
              <h2>Stappenplan voor een eigen website</h2>
            </div>

            <div class="row">
              <!-- Column -->
              <div class="col-md-3 wrap-service1-box">
                <div class="card card-shadow mb-4">
                  <div class="card-body">
                    <div class="my-3 text-center" style="font-size:3.5em; color: #005af5">
                      <i class="fas fa-solid fa-1 circle-icon"></i>
                    </div>
                    <h4 class="font-weight-medium text-center">Domeinnaam</h4>
                    <p class="mt-3 text-center">Kies je eigen <a aria-label="Bezoek kenniscentrum | Domeinaam"
                                                                 href="/domeinnaam">domeinnaam</a></p>
                  </div>
                </div>
              </div>

              <div class="col-md-3 wrap-service1-box">
                <div class="card card-shadow mb-4">
                  <div class="card-body">
                    <div class="my-3 text-center" style="font-size:3.5em; color: #005af5">
                      <i class="fas fa-solid fa-2 circle-icon"></i>
                    </div>
                    <h4 class="font-weight-medium text-center">Webhosting</h4>
                    <p class="mt-3 text-center">Kies een geschikt <a aria-label="Bezoek kenniscentrum hostingpakket"
                                                                     href="/hostingpakket">hostingpakket</a></p>
                  </div>
                </div>
              </div>

              <div class="col-md-3 wrap-service1-box">
                <div class="card card-shadow mb-4">
                  <div class="card-body">
                    <div class="my-3 text-center" style="font-size:3.5em; color: #005af5">
                      <i class="fas fa-solid fa-3 circle-icon"></i>
                    </div>
                    <h4 class="font-weight-medium text-center">SSL-Certificaat</h4>
                    <p class="mt-3 text-center">Gratis vanaf een Basic <a
                      aria-label="Bezoek kenniscentrum hostingpakket" href="/hostingpakket">hostingpakket</a></p>
                  </div>
                </div>
              </div>

              <div class="col-md-3 wrap-service1-box">
                <div class="card card-shadow mb-4">
                  <div class="card-body">
                    <div class="my-3 text-center" style="font-size:3.5em; color: #005af5">
                      <i class="fas fa-solid fa-4 circle-icon"></i>
                    </div>
                    <h4 class="font-weight-medium text-center">Bouwen</h4>
                    <p class="mt-3 text-center">Kies een manier om je website te <a
                      aria-label="Bezoek kenniscentrum website maken" href="/website-bouwen">bouwen</a>
                    </p>
                  </div>
                </div>
              </div>


            </div>

          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- ======= Pricing Section ======= -->
  <section class="pricing" id="pricing">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Prijzen en Plannen</h2>
        <p>Ontdek onze flexibele prijzen en plannen die perfect passen bij uw behoeften.</p>
        <br>
        <p>Bedragen zijn inclusief BTW van 21%</p>
      </div>

      <div class="row">

        <div class="col-lg-3" data-aos="fade-up" data-aos-delay="100">
          <div class="box">
            <h3>Starter</h3>
            <h4><sup>€</sup>8<span>per maand</span></h4>
            <ul>
              <li><i class="bx bx-check"></i>1 GB schrijfruimte</li>
              <li><i class="bx bx-check"></i>5 GB dataverkeer</li>
              <li><i class="bx bx-check"></i>10 e-mail accounts</li>
              <li><i class="bx bx-check"></i>1 MySQL database</li>
              <li><i class="bx bx-check"></i>1 GB MySQL ruimte</li>
              <li><i class="bx bx-check"></i>2 subdomeinen</li>
              <li><i class="bx bx-check"></i>1 GB mailruimte</li>
              <li><i class="bx bx-check"></i>Nieuwste PHP versies</li>
              <li><i class="bx bx-check"></i>24/7 server monitoring</li>
              <li><i class="bx bx-check"></i>Wekelijkse backup</li>

              <li class="na"><i class="bx bx-x"></i> <span>SSL Certificaat</span></li>
              <li class="na"><i class="bx bx-x"></i> <span>Wordpress Toolkit</span></li>
              <li class="na"><i class="bx bx-x"></i> <span>Gratis opstarthulp</span></li>


            </ul>
            <a aria-label="Bezoek begin nu" class="buy-btn" href="#">Begin nu</a>
          </div>
        </div>

        <div class="col-lg-3" data-aos="fade-up" data-aos-delay="100">
          <div class="box">
            <h3>Basic</h3>
            <h4><sup>€</sup>12<span>per maand</span></h4>
            <ul>
              <li><i class="bx bx-check"></i>5 GB schrijfruimte</li>
              <li><i class="bx bx-check"></i>10 GB dataverkeer</li>
              <li><i class="bx bx-check"></i>50 e-mail accounts</li>
              <li><i class="bx bx-check"></i>5 MySQL database</li>
              <li><i class="bx bx-check"></i>2 GB MySQL ruimte</li>
              <li><i class="bx bx-check"></i>5 subdomeinen</li>
              <li><i class="bx bx-check"></i>4 GB mailruimte</li>
              <li><i class="bx bx-check"></i>Nieuwste PHP versies</li>
              <li><i class="bx bx-check"></i>24/7 server monitoring</li>
              <li><i class="bx bx-check"></i>Dagelijkse backup</li>
              <li><i class="bx bx-check"></i>SSL Certificaat</li>
              <li><i class="bx bx-check"></i>Wordpress Toolkit</li>
              <li class="na"><i class="bx bx-x"></i> <span>Gratis opstarthulp</span></li>


            </ul>
            <a aria-label="Bezoek begin nu" class="buy-btn" href="#">Begin nu</a>
          </div>
        </div>

        <div class="col-lg-3" data-aos="fade-up" data-aos-delay="100">
          <div class="box">
            <h3>Premium</h3>
            <h4><sup>€</sup>16<span>per maand</span></h4>
            <ul>
              <li><i class="bx bx-check"></i>10 GB schrijfruimte</li>
              <li><i class="bx bx-check"></i>20 GB dataverkeer</li>
              <li><i class="bx bx-check"></i>100 e-mail accounts</li>
              <li><i class="bx bx-check"></i>10 MySQL database</li>
              <li><i class="bx bx-check"></i>3 GB MySQL ruimte</li>
              <li><i class="bx bx-check"></i>10 subdomeinen</li>
              <li><i class="bx bx-check"></i>8 GB mailruimte</li>
              <li><i class="bx bx-check"></i>Nieuwste PHP versies</li>
              <li><i class="bx bx-check"></i>24/7 server monitoring</li>
              <li><i class="bx bx-check"></i>Dagelijkse backup</li>
              <li><i class="bx bx-check"></i>SSL Certificaat</li>
              <li><i class="bx bx-check"></i>Wordpress Toolkit</li>
              <li><i class="bx bx-check"></i>Gratis opstarthulp</li>


            </ul>
            <a aria-label="Bezoek begin nu" class="buy-btn" href="#">Begin nu</a>
          </div>
        </div>

        <div class="col-lg-3" data-aos="fade-up" data-aos-delay="100">
          <div class="box">
            <h3>Enterprise</h3>
            <h4><sup>€</sup>21<span>per maand</span></h4>
            <ul>
              <li><i class="bx bx-check"></i>15 GB schrijfruimte</li>
              <li><i class="bx bx-check"></i>25 GB dataverkeer</li>
              <li><i class="bx bx-check"></i>200 e-mail accounts</li>
              <li><i class="bx bx-check"></i>15 MySQL database</li>
              <li><i class="bx bx-check"></i>5 GB MySQL ruimte</li>
              <li><i class="bx bx-check"></i>20 subdomeinen</li>
              <li><i class="bx bx-check"></i>12 GB mailruimte</li>
              <li><i class="bx bx-check"></i>Nieuwste PHP versies</li>
              <li><i class="bx bx-check"></i>24/7 server monitoring</li>
              <li><i class="bx bx-check"></i>Dagelijkse backup</li>
              <li><i class="bx bx-check"></i>SSL Certificaat</li>
              <li><i class="bx bx-check"></i>Wordpress Toolkit</li>
              <li><i class="bx bx-check"></i>Gratis opstarthulp</li>


            </ul>
            <a aria-label="Bezoek begin nu" class="buy-btn" href="#">Begin nu</a>
          </div>
        </div>

      </div>

    </div>
  </section>
  <!-- End Pricing Section -->

  <section class="cta" id="cta">
    <div class="container" data-aos="zoom-in">
      <div class="row">
        <div class="col-lg-9 text-center text-lg-start">
          <h3>Andere diensten?</h3>
          <p>
            Heeft u interesse in een andere diensten? Neem gerust contact met ons op en bespreek de mogelijkheden.
          </p>
        </div>
        <div class="col-lg-3 cta-btn-container text-center">
          <a aria-label="Neem contact op " class="cta-btn align-middle" routerLink="/contact">Contact</a>
        </div>
      </div>
    </div>
  </section>

</main><!-- End #main -->
