<div class="row">
  <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
    <div class="card card-has-bg click-col">
      <div class="card-img-overlay d-flex flex-column">
        <div class="card-body">
          <div class="row">
            <div class="col-12 text-center">
              <i class="fa-solid fa-desktop serviceIcon pb-4"></i>
              <h4 class="mt-0 pb-2">Websites</h4>
              <p>
                Loyasoft creëert op maat gemaakte websites die perfect passen
                bij de identiteit en doelen van jouw bedrijf
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
    <div class="card card-has-bg click-col">
      <div class="card-img-overlay d-flex flex-column">
        <div class="card-body">
          <div class="row">
            <div class="col-12 text-center">
              <i class="fa-solid fa-code serviceIcon pb-4"></i>
              <h4 class="mt-0 pb-2">Hosting</h4>
              <p>
                Vertrouw op Loyasoft voor betrouwbare hostingoplossingen die
                zorgen voor maximale uptime en optimale prestaties voor je
                websites
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
    <div class="card card-has-bg click-col">
      <div class="card-img-overlay d-flex flex-column">
        <div class="card-body">
          <div class="row">
            <div class="col-12 text-center">
              <i class="fa-solid fa-server serviceIcon pb-4"></i>
              <h4 class="mt-0 pb-2">Applicaties</h4>
              <p>
                Loyasoft ontwikkelt op maat gemaakte softwareapplicaties die
                naadloos aansluiten bij de specifieke behoeften van jouw bedrijf
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
