<section class="d-flex align-items-center" id="page-head">
  <div class="container">
    <div class="row">
      <div
        class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1"
        data-aos="fade-up"
        data-aos-delay="200"
      >
        <h1>Websites<span style="color: #f2503d">.</span></h1>
      </div>

      <div
        class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1 features"
        data-aos="fade-up"
        data-aos-delay="200"
      >
        <div class="type-hosting-icons pt-2">
          <p>
            <i class="fa-solid fa-check"></i> Geoptimaliseerd voor Google
          </p>
          <p>
            <i class="fa-solid fa-check"></i> Helemaal naar jouw wens
          </p>
          <p>
            <i class="fa-solid fa-check"></i> 100% jouw eigendom
          </p>
        </div>
      </div>
    </div>
  </div>
</section>


<main id="main">


  <!-- ======= About Us Section ======= -->
  <section class="about" id="about">
    <div class="container" data-aos="fade-up">
      <div class="row">
        <div class="py-3 service-1">
          <div class="top-icons-hosting">
            <div class="container">


              <!-- Row  -->
              <div class="row">
                <!-- Column -->
                <div class="col-12 wrap-service1-box">
                  <div class="card border-0 card-shadow mb-4">
                    <div class="card-body text-center">
                      <div class="row">
                        <div
                          class="col-lg-5 d-flex align-items-center"
                          data-aos="fade-right"
                          data-aos-delay="100"
                        >
                          <img
                            alt=""
                            class="img-fluid"
                            src="assets/images/template/why-us.webp"
                          />
                        </div>
                        <div
                          class="col-lg-7 pt-4 pt-lg-0"
                          data-aos="fade-left"
                          data-aos-delay="100"
                        >
                          <div class="container" data-aos="fade-up">
                            <!--                    <div class="section-title">-->
                            <!--                      <h2>Wat is hosting</h2>-->
                            <!--                    </div>-->
                            <p class="content">
                              Vandaag de dag zijn websites gewoon onmisbaar voor succesvolle bedrijven.
                              Jouw website is niet alleen een plek online; het is jouw digitale visitekaartje.
                              Elk bedrijf heeft zijn eigen unieke doelgroep en stijl,
                              daarom is het van cruciaal belang om een website te hebben die daar naadloos op aansluit.
                            </p>


                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>


              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section><!-- End About Us Section -->


  <section class="skills section-bg" id="skills">
    <div class="container" data-aos="fade-up">
      <div class="row">
        <div
          class="col-lg-5 d-flex align-items-center"
          data-aos="fade-right"
          data-aos-delay="100"
        >
          <img
            alt=""
            class="img-fluid"
            src="assets/images/template/why-us.webp"
          />
        </div>
        <div
          class="col-lg-7 pt-4 pt-lg-0"
          data-aos="fade-left"
          data-aos-delay="100"
        >
          <div class="container" data-aos="fade-up">
            <div class="section-title">
              <h2>Wat voor website heb ik nodig?</h2>
            </div>
            <p class="content">
              Als je overweegt om een website te laten bouwen, is het belangrijk om te weten
              dat er verschillende mogelijkheden zijn die passen bij jouw specifieke behoeften.
              Laten we eens kijken naar enkele van deze opties, zonder al te veel technische details.
            </p>


          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="skills website-choice" id="skills-2">
    <div class="container" data-aos="fade-up">
      <div class="col-12 wrap-service1-box">
        <div class="card border-0 card-shadow mb-4" style="background-color: #fbfbfb;">
          <div class="card-body">
            <div class="row">
              <div
                class="col-lg-7 pt-4 pt-lg-0"
                data-aos="fade-left"
                data-aos-delay="100"
              >
                <div class="container" data-aos="fade-up">
                  <div class="">
                    <h3>Statische Websites en CMS</h3>
                  </div>
                  <p class="content">
                    Stel je voor dat je een lokale supermarkt hebt en je wilt eenvoudig de openingstijden met jouw
                    klanten delen. In dit geval is een statische website perfect geschikt. Een statische website is
                    eenvoudig en bevat meestal informatie die zelden verandert. Voor dit soort websites zijn
                    CMS-platforms
                    zoals WordPress een uitstekende keuze. Met een CMS kun je gemakkelijk inhoud toevoegen, bewerken en
                    beheren zonder technische kennis. Het is gebruiksvriendelijk en ideaal voor eenvoudige webpagina's.
                  </p>

                </div>


              </div>
              <div
                class="col-lg-5 d-flex align-items-center"
                data-aos="fade-right"
                data-aos-delay="100"
              >
                <img
                  alt=""
                  class="img-fluid"
                  src="assets/images/template/typing-person.webp"
                  style="padding: 2em;"
                />
              </div>
            </div>
            <div class="row">
              <div
                class="col-lg-5 d-flex align-items-center"
                data-aos="fade-right"
                data-aos-delay="100"
              >
                <img
                  alt=""
                  class="img-fluid"
                  src="assets/images/template/f-frameworks-img.webp"
                  style="padding: 2em;"
                />
              </div>
              <div
                class="col-lg-7 pt-4 pt-lg-0"
                data-aos="fade-left"
                data-aos-delay="100"
              >
                <div class="container" data-aos="fade-up">
                  <div class="">
                    <h3>Interactieve Websites</h3>
                  </div>
                  <p class="content">
                    Misschien heb je een website nodig waarop meer interactieve elementen aanwezig zijn,
                    zoals het dynamisch weergeven van informatie op basis van verschillende parameters.
                    In dit geval zijn frontend frameworks zoals Angular, Vue of React geschikte opties.
                    Deze frameworks maken je website sneller en kunnen complexe taken uitvoeren. Ze zijn
                    vooral handig als je een meer dynamische en responsieve gebruikerservaring wilt bieden.
                  </p>

                </div>


              </div>
            </div>
            <div class="row">
              <div
                class="col-lg-7 pt-4 pt-lg-0"
                data-aos="fade-left"
                data-aos-delay="100"
              >
                <div class="container" data-aos="fade-up">
                  <div class="">
                    <h3>Complexere Applicaties</h3>
                  </div>
                  <p class="content">
                    Als je website complexer wordt en er veel verschillende informatie moet worden opgeslagen,
                    of als je ingewikkelde databasekoppelingen nodig hebt, dan kan een op maat gemaakte applicatie
                    zoals die gebouwd met Laravel een goede keuze zijn. Deze applicaties zijn specifiek ontworpen
                    om aan jouw unieke vereisten te voldoen en kunnen variëren van e-commerce platforms tot geavanceerde
                    bedrijfssystemen.
                  </p>

                </div>


              </div>
              <div
                class="col-lg-5 d-flex align-items-center"
                data-aos="fade-right"
                data-aos-delay="100"
              >
                <img
                  alt=""
                  class="img-fluid"
                  src="assets/images/template/applications-img.webp"
                  style="padding: 2em;"
                />
              </div>

            </div>

          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="" id="about-pricing">
    <div class="container" data-aos="fade-up">
      <div class="row">
        <div class="py-3 service-1">
          <div class="container">
            <!-- Row  -->
            <div class="row">
              <!-- Column -->
              <div class="col-12 wrap-service1-box">
                <div class="card border-0 card-shadow mb-4">
                  <div class="card-body">

                    <div class="row">
                      <div
                        class="col-lg-5 d-flex align-items-center"
                        data-aos="fade-right"
                        data-aos-delay="100"
                      >
                        <img
                          alt=""
                          class="img-fluid"
                          src="assets/images/template/money-flower.webp"
                        />
                      </div>
                      <div
                        class="col-lg-7 pt-4 pt-lg-0"
                        data-aos="fade-left"
                        data-aos-delay="100"
                      >
                        <div class="container" data-aos="fade-up">
                          <div class="section-title" style="padding-top: 3em;">
                            <h2>Wat zijn de kosten?</h2>
                          </div>
                          <p class="content">
                            De prijzen voor een op maat gemaakte website kunnen aanzienlijk variëren.
                            Deze kosten zijn afhankelijk van factoren zoals de omvang van jouw website,
                            het aantal pagina's dat moet worden ontworpen en gebouwd, en eventuele specifieke
                            vereisten voor bijzondere functionaliteiten. We streven ernaar om een op maat gemaakt
                            voorstel op te stellen met een vaste prijs voor het project, nadat we uitgebreid jouw wensen
                            en
                            eisen hebben besproken. Dit zorgt ervoor dat je duidelijkheid hebt over de kosten voordat we
                            met
                            het project beginnen, waardoor je precies weet wat je kunt verwachten.
                          </p>


                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>

    </div>
  </section><!-- End About Us Section -->

  <section class="skills section-bg" id="website-ready">
    <div class="container" data-aos="fade-up">
      <div class="row">
        <div
          class="col-lg-10 m-auto pt-4 pt-lg-0 content"
          data-aos="fade-left"
          data-aos-delay="100"
        >
          <div class="container" data-aos="fade-up">
            <div class="section-title">
              <h2>Klaar voor de <span style="color: #f2503d">start?</span></h2>
            </div>

            <div class="row">
              <div id="website-action">
                <div class="cards">
                  <div class="card shadow" style="padding: 0em 3.133em;">
                    <a aria-label="Bezoek portfolio" href="#test1">
                      <ul>
                        <h2 class="pack">Portfolio</h2>
                        <i class="price bottom-bar fas fa-solid fa-grip" id="basic"></i>
                      </ul>
                    </a>
                  </div>
                  <div class="card active">
                    <a aria-label="Bezoek aan de slag" href="#test2">
                      <ul>
                        <h2 class="pack">Aan de slag</h2>
                        <i class="price bottom-bar fas fa-solid fa-object-ungroup" id="professional"></i>
                      </ul>
                    </a>
                  </div>
                  <div class="card shadow">
                    <a aria-label="Bezoek meer informatie" href="#test3">
                      <ul>
                        <h2 class="pack">Meer informatie</h2>
                        <i class="price bottom-bar fas fa-solid fa-question" id="master"></i>
                      </ul>
                    </a>
                  </div>
                </div>
              </div>


            </div>

          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="cta" id="cta">
    <div class="container" data-aos="zoom-in">
      <div class="row">
        <div class="col-lg-9 text-center text-lg-start">
          <h3>Andere diensten?</h3>
          <p>
            Heeft u interesse in een andere diensten? Neem gerust contact met ons op en bespreek de mogelijkheden.
          </p>
        </div>
        <div class="col-lg-3 cta-btn-container text-center">
          <a aria-label="Neem contact op " class="cta-btn align-middle" routerLink="/contact">Contact</a>
        </div>
      </div>
    </div>
  </section>

</main>
<!-- End #main -->
