<header class="fixed-top" id="header">
  <div class="container d-flex align-items-center">
    <a aria-label="Bezoek homepagina" class="logo me-auto" href="../../../index.html"
    ><img
      alt=""
      class="img-fluid"
      height="40"
      src="../../../assets/images/logo-loyasoft-without-small.webp"
      width="219"
    /></a>

    <nav class="navbar" id="navbar">
      <ul>
        <li>
          <a aria-label="Bezoek Homepagina" class="nav-link" routerLink="/" routerLinkActive="active">Home</a>
        </li>
        <li>
          <a aria-label="Bezoek websites" class="nav-link" routerLink="/websites" routerLinkActive="active"
          >Websites</a
          >
        </li>
        <li>
          <a
            aria-label="Bezoek applicaties"
            class="nav-link"
            routerLink="/applicaties"
            routerLinkActive="active"
          >Applicaties</a
          >
        </li>
        <li>
          <a aria-label="Bezoek hosting" class="nav-link" routerLink="/hosting" routerLinkActive="active"
          >Hosting</a
          >
        </li>
        <li class="dropdown">
          <a [routerLink]="['/']">
            <span>Meer</span> <i class="bi bi-chevron-down"></i>
          </a>
          <ul>
            <li class="dropdown">
              <a aria-label="Bezoek projecten" routerLink="/projects" routerLinkActive="active">
                <span>Projects</span> <i class="bi bi-chevron-down"></i>
              </a>
              <ul>
                <li><a aria-label="Bezoek Invoices project" href="#">Invoices</a></li>
                <li><a aria-label="Bezoek ERP project" href="#">ERP</a></li>
                <li><a aria-label="Bezoek coming soon page" href="#">Coming soon...</a></li>
                <li><a aria-label="Bezoek coming soon page" href="#">Coming soon...</a></li>
              </ul>
            </li>

            <li><a aria-label="Bezoek kenniscentrum" routerLink="/kenniscentrum"
                   routerLinkActive="active">Kenniscentrum</a></li>
          </ul>
        </li>

        <li>
          <a
            aria-label="Bezoek contactpagina"
            class="getstarted"
            href="#about"
            routerLink="/contact"
            routerLinkActive="active"
          >Contact</a
          >
        </li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>
    <!-- .navbar -->
  </div>
</header>
<!-- End Header -->
