<section class="d-flex align-items-center" id="page-head">
  <div class="container">
    <div class="row">
      <div
        class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1"
        data-aos="fade-up"
        data-aos-delay="200"
      >
        <h1 style="font-size: 4em">Applicaties<span style="color: #f2503d">.</span></h1>
      </div>

      <div
        class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1 features"
        data-aos="fade-up"
        data-aos-delay="200"
      >
        <div class="type-hosting-icons pt-2">
          <p>
            <i class="fa-solid fa-check"></i> Precies zoals jij het wil
          </p>
          <p>
            <i class="fa-solid fa-check"></i> 100% jouw eigendom
          </p>
          <p>
            <i class="fa-solid fa-check"></i> Maatwerkoplossingen voor jouw unieke uitdagingen
          </p>
          <p>
            <i class="fa-solid fa-check"></i> Modern en gebruiksvriendelijk ontwerp
          </p>

        </div>
      </div>
    </div>
  </div>
</section>


<main id="main">


  <!-- ======= About Us Section ======= -->
  <section class="about" id="about">
    <div class="container" data-aos="fade-up">
      <div class="row">
        <div class="py-3 service-1">
          <div class="top-icons-hosting">
            <div class="container">


              <!-- Row  -->
              <div class="row">
                <!-- Column -->
                <div class="col-12 wrap-service1-box">
                  <div class="card border-0 card-shadow mb-4">
                    <div class="card-body text-center">
                      <div class="row">
                        <div
                          class="col-lg-5 d-flex align-items-center"
                          data-aos="fade-right"
                          data-aos-delay="100"
                        >
                          <img
                            alt=""
                            class="img-fluid"
                            src="assets/images/template/why-us.webp"
                          />
                        </div>
                        <div
                          class="col-lg-7 pt-4 pt-lg-0"
                          data-aos="fade-left"
                          data-aos-delay="100"
                        >
                          <div class="container" data-aos="fade-up">
                            <!--                    <div class="section-title">-->
                            <!--                      <h2>Wat is hosting</h2>-->
                            <!--                    </div>-->
                            <p class="content">
                              Net zoals websites zijn mobiele apps en software-toepassingen van onschatbare waarde voor
                              moderne bedrijven.
                              Jouw applicatie is niet alleen een stuk software; het is een krachtige tool om jouw
                              bedrijf te laten groeien
                              en je klanten beter van dienst te zijn.
                            </p>


                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>


              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section><!-- End About Us Section -->


  <section class="skills section-bg" id="skills">
    <div class="container" data-aos="fade-up">
      <div class="row">
        <div
          class="col-lg-5 d-flex align-items-center"
          data-aos="fade-right"
          data-aos-delay="100"
        >
          <img
            alt=""
            class="img-fluid"
            src="assets/images/template/why-us.webp"
          />
        </div>
        <div
          class="col-lg-7 pt-4 pt-lg-0"
          data-aos="fade-left"
          data-aos-delay="100"
        >
          <div class="container" data-aos="fade-up">
            <div class="section-title">
              <h2>Wat voor applicaties zijn er mogelijk?</h2>
            </div>
            <p class="content">
              De wereld van applicatieontwikkeling is enorm gevarieerd en altijd in beweging.
              Er zijn eindeloze mogelijkheden om applicaties op maat te maken die perfect aansluiten
              bij de unieke behoeften van bedrijven en organisaties. Bij Loyasoft streven we ernaar
              om applicaties op maat te ontwerpen die perfect passen bij de unieke behoeften van individuele bedrijven,
              met als doel de bedrijfsprocessen te verbeteren.
            </p>


          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="skills website-choice" id="skills-2">
    <div class="container" data-aos="fade-up">
      <div class="col-12 wrap-service1-box">
        <div class="card border-0 card-shadow mb-4" style="background-color: #fbfbfb;">
          <div class="card-body">
            <div class="row">
              <div
                class="col-lg-7 pt-4 pt-lg-0"
                data-aos="fade-left"
                data-aos-delay="100"
              >
                <div class="container" data-aos="fade-up">
                  <div class="">
                    <h3>Bedrijfsdashboard voor Datavisualisatie</h3>
                  </div>
                  <p class="content">
                    Krachtige inzichten: Onze op maat gemaakte bedrijfsdashboards zijn bedoeld om je te voorzien van
                    diepgaande inzichten in je bedrijfsprestaties. Ze consolideren gegevens uit verschillende bronnen en
                    presenteren deze op een visueel aantrekkelijke manier. Je kunt realtime statistieken en trends
                    analyseren,
                    variërend van verkoopcijfers en voorraadniveaus tot klantgedrag en marketingresultaten. Met deze
                    krachtige
                    tool bij de hand kun je snellere en beter geïnformeerde beslissingen nemen, problemen opsporen
                    voordat ze
                    kritiek worden.
                  </p>

                </div>


              </div>
              <div
                class="col-lg-5 d-flex align-items-center"
                data-aos="fade-right"
                data-aos-delay="100"
              >
                <img
                  alt=""
                  class="img-fluid"
                  src="assets/images/template/typing-person.webp"
                  style="padding: 2em;"
                />
              </div>
            </div>
            <div class="row">
              <div
                class="col-lg-5 d-flex align-items-center"
                data-aos="fade-right"
                data-aos-delay="100"
              >
                <img
                  alt=""
                  class="img-fluid"
                  src="assets/images/template/f-frameworks-img.webp"
                  style="padding: 2em;"
                />
              </div>
              <div
                class="col-lg-7 pt-4 pt-lg-0"
                data-aos="fade-left"
                data-aos-delay="100"
              >
                <div class="container" data-aos="fade-up">
                  <div class="">
                    <h3>Webshop Applicatie</h3>
                  </div>
                  <p class="content">
                    E-commerce Excellence: Onze op maat gemaakte webshopapplicaties tillen je online winkel naar een
                    hoger niveau.
                    Of je nu een kleine boetiek runt of een uitgebreide e-commerce onderneming hebt, onze applicaties
                    zijn ontworpen
                    om je te helpen bij het creëren van een naadloze en winstgevende online winkelervaring. Beheer
                    eenvoudig productinventarissen,
                    voeg nieuwe producten toe, update prijzen en voorraadniveaus, en accepteer veilige betalingen. Met
                    geavanceerde functies
                    zoals winkelwagenbeheer, beoordelingen en aanbiedingen kun je klanten aantrekken en behouden, wat
                    resulteert in een grotere
                    omzet en klanttevredenheid.
                  </p>

                </div>


              </div>
            </div>
            <div class="row">
              <div
                class="col-lg-7 pt-4 pt-lg-0"
                data-aos="fade-left"
                data-aos-delay="100"
              >
                <div class="container" data-aos="fade-up">
                  <div class="">
                    <h3>CRM (Customer Relationship Management) Systeem</h3>
                  </div>
                  <p class="content">
                    Versterk Klantrelaties: Ons op maat gemaakte CRM-systeem is de sleutel tot het effectief beheren van
                    klantrelaties
                    en het stimuleren van bedrijfsgroei. Met deze krachtige tool kun je alle interacties en communicatie
                    met klanten op
                    één centrale locatie registreren en volgen. Beheer contactinformatie en automatiseer e-mails en
                    meldingen om klanten op
                    het juiste moment te bereiken.. Door klantgegevens effectiever te benutten, kun je persoonlijke en
                    zinvolle interacties
                    bevorderen, wat leidt tot een verbeterde klanttevredenheid, grotere loyaliteit en uiteindelijk meer
                    succes voor je bedrijf.
                  </p>

                </div>


              </div>
              <div
                class="col-lg-5 d-flex align-items-center"
                data-aos="fade-right"
                data-aos-delay="100"
              >
                <img
                  alt=""
                  class="img-fluid"
                  src="assets/images/template/applications-img.webp"
                  style="padding: 2em;"
                />
              </div>

            </div>

          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="" id="about-pricing">
    <div class="container" data-aos="fade-up">
      <div class="row">
        <div class="py-3 service-1">
          <div class="container">
            <!-- Row  -->
            <div class="row">
              <!-- Column -->
              <div class="col-12 wrap-service1-box">
                <div class="card border-0 card-shadow mb-4">
                  <div class="card-body">

                    <div class="row">
                      <div
                        class="col-lg-5 d-flex align-items-center"
                        data-aos="fade-right"
                        data-aos-delay="100"
                      >
                        <img
                          alt=""
                          class="img-fluid"
                          src="assets/images/template/design-desk.webp"
                        />
                      </div>
                      <div
                        class="col-lg-7 pt-4 pt-lg-0"
                        data-aos="fade-left"
                        data-aos-delay="100"
                      >
                        <div class="container" data-aos="fade-up">
                          <div class="section-title" style="padding-top: 3em;">
                            <h2>Van Idee tot Oplevering</h2>
                            <h3>Onze Aanpak bij Applicatieontwikkeling</h3>
                          </div>
                          <p class="content">
                            De weg naar een goed functionerende applicatie kan soms lang en kostbaar zijn.
                            Daarom heeft Loyasoft expertise opgebouwd in projectmanagement. We streven ernaar
                            om samen met de klant de meest effectieve route te bepalen.
                            <br><br>
                            Onze aanpak begint met een gesprek om de eisen van de applicatie te bespreken.
                            Deze worden vervolgens omgezet in een plan van aanpak. Na goedkeuring van dit plan kan
                            het ontwerpproces van start gaan, en in sommige gevallen kunnen we zelfs direct beginnen met
                            programmeren.
                            We hechten veel waarde aan de betrokkenheid van de klant tijdens de bouw van de applicatie.
                            We laten de voortgang
                            van het project meerdere keren aan de klant zien en bieden tijd en ruimte voor feedback,
                            zodat we deze kunnen verwerken
                            in de verdere ontwikkeling van het project
                          </p>


                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>

    </div>
  </section><!-- End About Us Section -->

  <section class="skills section-bg" id="website-ready">
    <div class="container" data-aos="fade-up">
      <div class="row">
        <div
          class="col-lg-10 m-auto pt-4 pt-lg-0 content"
          data-aos="fade-left"
          data-aos-delay="100"
        >
          <div class="container" data-aos="fade-up">
            <div class="section-title">
              <h2>Klaar voor de <span style="color: #f2503d">start?</span></h2>
            </div>

            <div class="row">
              <div id="website-action">
                <div class="cards">
                  <div class="card shadow" style="padding: 0em 3.133em;">
                    <a aria-label="Bezoek portfolio" href="#test1">
                      <ul>
                        <h2 class="pack">Portfolio</h2>
                        <i class="price bottom-bar fas fa-solid fa-grip" id="basic"></i>
                      </ul>
                    </a>
                  </div>
                  <div class="card active">
                    <a aria-label="Bezoek aan de slag" href="#test2">
                      <ul>
                        <h2 class="pack">Aan de slag</h2>
                        <i class="price bottom-bar fas fa-solid fa-object-ungroup" id="professional"></i>
                      </ul>
                    </a>
                  </div>
                  <div class="card shadow">
                    <a aria-label="Bezoek meer informatie" href="#test3">
                      <ul>
                        <h2 class="pack">Meer informatie</h2>
                        <i class="price bottom-bar fas fa-solid fa-question" id="master"></i>
                      </ul>
                    </a>
                  </div>
                </div>
              </div>


            </div>

          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="cta" id="cta">
    <div class="container" data-aos="zoom-in">
      <div class="row">
        <div class="col-lg-9 text-center text-lg-start">
          <h3>Andere diensten?</h3>
          <p>
            Heeft u interesse in een andere diensten? Neem gerust contact met ons op en bespreek de mogelijkheden.
          </p>
        </div>
        <div class="col-lg-3 cta-btn-container text-center">
          <a aria-label="Neem contact op" class="cta-btn align-middle" routerLink="/contact">Contact</a>
        </div>
      </div>
    </div>
  </section>

</main>
<!-- End #main -->
